:root {
  --primary-clr-one: hsl(40, 97%, 58%);
  --primary-clr-two: hsl(216, 17%, 35%);
  --primary-clr-three: hsl(215, 14%, 23%);
  --primary-clr-four: hsl(217, 12%, 62%);

  --neutral-clr-one: hsl(0, 0%, 100%);
  --neutral-clr-two: hsl(212, 41%, 93%);
  --neutral-clr-three: hsl(214, 37%, 96%);
  --neutral-clr-four: hsl(39, 100%, 94%);

  --box-shadow: hsla(0, 0%, 0%, 0);
  --box-shadow-scroll: hsla(0, 0%, 0%, 0.4);

  --overlay: hsla(0, 0%, 0%, 0.75);
}
